//- Document: _main-layout.jade

include ../_mixins/_mixins

doctype
html(lang="en")
    head
        // Page title
        title
            block page-title
                | Page title


        // Meta tags
        block meta-tags
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            meta(name="viewport" content="width=device-width=1, initial-scale=1.0")


        // Stylesheets
        block stylesheets
            link(rel="stylesheet" href="../../../css/global.css")
            link(rel="stylesheet" href="../../../css/styles.css")


        // Fonts
        block fonts
            //link (rel="stylesheet" href="../fonts/roboto")


        // JavaScripts
        block javascripts
            //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
            script(src="../../../js/main-scripts.js")



    body

        //Block main-page
        block main-page
