//- Document: _main-layout.jade

include ../_mixins/_mixins

doctype
html(lang="en")
    head
        // Page title
        title
            block page-title
                | Page title


        // Meta tags
        block meta-tags
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            meta(name="viewport" content="width=device-width=1, initial-scale=1.0")

        // JavaScripts
        block javascripts
            script(src="ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer)
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer)
            script(src="../../../js/jquery.formstyler.min.js" defer)
            script(src="../../../js/jquery.formstyler.js" defer)
            script(src="../../../js/jquery.bxslider.min.js" defer)
            script(src="../../../js/main-scripts.js" defer)


        // Stylesheets
        block stylesheets

            // bxSlider styles
            link(rel="stylesheet" href="../../../css/jquery.bxslider.css")
            link(rel="stylesheet" href="../../../css/jquery.formstyler.css")

            //global styles
            link(rel="stylesheet" href="../../../css/global.css")
            link(rel="stylesheet" href="../../../css/styles.css")


        // Fonts
        block fonts
            //link (rel="stylesheet" href="../fonts/roboto")

    body

        //Block main-page
        block main-page
