// Document: _catalog-styles.scss

@import "_themes/themes";
@import "_helpers/flexbox";
@import "_helpers/mixins";
@import "_helpers/variables";
@import "_helpers/spacing_n_sizing";
@import "_helpers/typography";
@import "_fonts/fonts";

// page partials


// modules


// themes

.main-page {
  width: 1600px;
  height: 100vh;
  margin: 0 auto;
  background: #fff url("../images/main-page-bg.png") no-repeat 0 0;
  background-size: cover;
  @include flex-parent($justify-content: space-around);

}

.logo-name-slogan {
  width: 254px;
  height: 370px;
  margin: 0 auto;
  background-color: $color-blue;
}