// Document: _catalog-styles.scss

@import "_themes/themes";
@import "_helpers/flexbox";
@import "_helpers/mixins";
@import "_helpers/variables";
@import "_helpers/spacing_n_sizing";
@import "_helpers/typography";


// page partials


// modules


// themes

.main-page {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background-color: forestgreen;
  text-align: center;
  font-family: "Helvetica Regular", sans-serif;

  p {
    width: 100%;
    color: red;
    font-size: 2rem;
  }

}