.brief {
  flex-grow: 2;
    .title {
        .page-title {
          width: 500px;
          font-family: 'roboto-condensed', sans-serif;
          font-size: $font-size-xxmedium;
          font-weight: bold;
          color: #fefefe;
        }
    }
}

.our-brief-form {
  @include flex-parent($flex-wrap: nowrap, $align-items: flex-start);
  @include box-sizing();

  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 80px;
  background-color: #fff;
}

form { @include flex-parent( $flex-direction: column ); }

fieldset {
  margin: 0;
  margin-top: 30px;
  border: none;

    &:first-child { margin-top: 0; }

    legend {
      font-family: 'roboto-condensed', sans-serif;
      font-size: $font-size-small;
      font-weight: bold;
      color: #000;
      text-transform: uppercase;
    }

    label {
      display: block;
      font-family: 'roboto-condensed', sans-serif;
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      color: #333;
    }

    .project-goals > label,
    .more > label,
    .functions-needed > label,
    .pages-quantity > label,
    .color-scheme > label,
    .preferance > label,
    .info-style > label,
    .company-style > label,
    .design > label { margin: 15px 0; }
}

.center {
  margin: 0;
  margin-top: 15px;
  align-self: flex-end;
}

.row {
  @include box-sizing();

  padding: 10px;

    span {
      color: #f26630;
      font-size: $font-size-medium;
    }
}

.note {
  margin-top: 20px;
  padding: 0 0 0 10px;

    span {
      color: #f26630;
      font-size: $font-size-medium;
    }
}


