//our_works.jade .our-works-gallery

.our-works-gallery {
  width: 880px;
  margin: 0 auto;
  background-color: #363636;
}

.our-works-gallery-company__opened {
  @include flex-parent($align-items: center);
  @include relative ( top -100px left 0px );

  width: 612px;
  margin: 0 auto;
}

.our-works-gallery-company__logo {
  width: 100%;
  height: 62px;
  background: url('../images/company-main-logo_212x62.png') no-repeat 50% 50%;
  margin: 0.5rem auto 0;
}

.our-works-gallery-company__web-site {
  width:100%;
  margin-top: $spacing-xxlarge;
  font-weight: $font-weight-normal;
  font-size: $font-size-xmedium;
  color: #fff;
  text-decoration: underline;
  text-align: center;
}

.our-works-gallery-company__slogan {
  width:100%;
  margin: $spacing-xmedium auto 90px;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  color: #fff;
  text-align: center;
}

.our-works-gallery-company__web-site-miniature {
  width:100%;
}