.our-works-gallery-companies__slider { width: 100%; }

.our-works-gallery-companies-slider__title {
  @include flex-parent($justify-content: space-between);

  width: 100%;
  color: #fefefe;
  font-family: 'roboto-condensed', sans-serif;
}

.other-works {
  margin: 0 0 20px 80px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.back-to-catalog {
    a {
      margin: 0 40px 25px 0;
      padding-right: 25px;
      background: url("../images/back-to-catalog-arrow_15x11.png") no-repeat 100% 50%;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
      color: #ccc;
      text-decoration: underline;
    }
}

.info-wrapper {
  font-family: 'roboto-condensed', sans-serif;
  color: #fefefe;
  text-align: center;

    .company-link {
      margin: 15px 0 10px 0;
      font-size: $font-size-xxxmedium;
      font-weight: $font-weight-normal;
      text-decoration: underline;
    }

    .company-specialization {
      font-weight: $font-weight-light;
      opacity: 0.7;
    }
}