// Document: _spacing-n-sizing.scss

$spacing-xxsmall: .25rem; // 4px
$spacing-xsmall: .5rem; // 8px
$spacing-small: .75rem; // 12px

$spacing-medium: 1rem; // 16px
$spacing-xmedium: 1.25rem; // 20px
$spacing-xxmedium: 1.5rem; // 24px
$spacing-xxxmedium: 1.75rem; // 28px

$spacing-large: 2rem; // 32px
$spacing-xlarge: 2.5rem; // 40px
$spacing-xxlarge: 3rem; // 48px
$spacing-xxxlarge: 3.5rem; // 60px



// Sizing

$layout-page-wrapper__width: 64rem;