// Document: _typography.scss

// Font size:

$font-size-xxsmall: .625rem; //10px
$font-size-xsmall: .75rem; //12px
$font-size-small: .875rem; // 14px

$font-size-medium: 1rem; // 16px
$font-size-xmedium: 1.125rem; // 18px
$font-size-xxmedium: 1.25rem; // 20px
$font-size-xxxmedium: 1.5rem; // 24px

$font-size-large: 1.875rem; //30px
$font-size-xlarge: 2.5rem; //40px
$font-size-xxlarge: 3rem; //48



// Font weight:

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;



// Text color:

$text-color-std: #333;
$text-color-green: #00a885;
$text-color-search-field-placeholder: #515655;



// Letter spacing
$letter-spacing-std: -.02em;