extends ../../_layouts/_main-layout

block page-title
    | Blog

block main-page
    .our-blog
        include ../../_modules/_header

        .title
            .page-title Блог

        .page-blog
            .page-blog-wrap
                .articles-list.grid
                    .article.is-pictured.grid-item
                        img(src="../../../images/blog-picture_288x160.jpg")
                        include ../../_modules/_card-small
                    .article.is-not-pictured.grid-item
                        include ../../_modules/_card-small
                    .article.pictured.grid-item
                        img(src="../../../images/blog-picture_288x160.jpg")
                        include ../../_modules/_card-small

                    .article.is-pictured.grid-item
                        img(src="../../../images/blog-picture_288x160.jpg")
                        include ../../_modules/_card-small

                    .article.pictured.grid-item
                        img(src="../../../images/blog-picture_288x160.jpg")
                        include ../../_modules/_card-small
                    .article.not-pictured.grid-item
                        include ../../_modules/_card-small
                include ../../_modules/_blog-aside
            .download-more-articles
                a(href="#") Загрузить еще