extends ../../_layouts/_main-layout

block page-title
    | Blog-article

block main-page
    .our-blog
        include ../../_modules/_header

        .title
            .page-title Блог

        .page-article
            .blog-article
                .rubric Веб-разработка, Веб-дизайн
                .article-name
                    | Дайджест интересных материалов из мира
                    | веб-разработки и IT
                .posted Опубликовано 30.05.2015
                .article-block
                    img(src="../../../images/article-1.jpg")
                    .text-block
                        | В этом году конференция из Минска перебралась
                        | в Москву, в event-холл «Инфоространство», и
                        | собрала вместе более 300 дизайнеров, проектировщиков
                        | интерфейсов, специалистов по юзабилити, менеджеров продуктов,
                        | маркетологов и программистов со стран СНГ и зарубежья, чтобы
                        | обсудить новые веяния в индустрии UX.
                        | Начав с уже традиционного для таких мероприятий утреннего кофе,
                        | участникам предстояло сделать выбор, какой доклад они хотели-бы услышать.
                        | Спикеры выступали в три потока, и каждый из участников мог выбрать, что
                        | ему интереснее.
                    img(src="../../../images/article-2.jpg")
                    .text-block
                        | В этом году конференция из Минска перебралась
                        | в Москву, в event-холл «Инфоространство», и
                        | собрала вместе более 300 дизайнеров, проектировщиков
                        | интерфейсов, специалистов по юзабилити, менеджеров продуктов,
                        | маркетологов и программистов со стран СНГ и зарубежья, чтобы
                        | обсудить новые веяния в индустрии UX.
                        | Начав с уже традиционного для таких мероприятий утреннего кофе,
                        | участникам предстояло сделать выбор, какой доклад они хотели-бы услышать.
                        | Спикеры выступали в три потока, и каждый из участников мог выбрать, что
                        | ему интереснее.
                .like
                .return-to-articles-list
                    a(href="#") Вернуться к списку статтей
                .also-read
                    .read-more Также читайте
                    .short-articles-list
                        include ../../_modules/_short-article-item
                        include ../../_modules/_short-article-item
                        include ../../_modules/_short-article-item

                fieldset
                    legend Комментировать
                    include ../../_modules/_comment-form

            include ../../_modules/_blog-aside
