extends ../../_layouts/_main-layout

block page-title
    | Brief

block main-page
    .brief
        include ../../_modules/_header

        .title
            .page-title бриф на разработку интернет проекта

        .our-brief-form
            .form
                form(id="myform" name="contact" method="post")
                    fieldset
                        .row
                            label
                            span *
                            |  Здравствуйте! Как Вас зовут?
                            div
                                input(class="styler" type="text" name="name" required)
                        .row
                            label
                            span *
                            |  Email
                            div
                                input(class="styler" type="email" name="email" required)
                        .row
                            label Телефон
                            div
                                input(class="styler" type="text" name="name" required)
                    fieldset
                        legend Общие сведения о клиенте
                        .row
                            label Название организации
                            div
                                input(class="styler" type="text" name="organization-name" required)
                        .row
                            label Сфера деятельности
                            div
                                input(class="styler" type="text" name="sphere-of-activity")
                        .row
                            label Позиционирование на рынке, миссия компании
                            div
                                input(class="styler" type="text" name="company-mission")
                        .row
                            label Основные конкуренты
                            div
                                input(class="styler" type="text" name="main-competitors")
                    fieldset
                        legend Деятельность заказчика
                        .row
                            label Продукция, услуги
                            div
                                input(class="styler" type="text" name="products-services")
                        .row
                            label Целевая аудитория
                            div
                                textarea(class="styler" name="target-audience")
                    fieldset
                        legend Портрет интернет-проекта
                        .row
                            label Портрет интернет-проекта
                            div
                                input(class="styler" type="text" name="internet-project-portrait")
                        .row
                            label Доменное имя для сайта
                            div
                                input(class="styler" type="text" name="web-site-domain-name")
                        .row
                            label Название сайта
                            div
                                input(class="styler" type="text" name="web-site-name")
                        .row.project-goals
                            label Цели проекта (пронумеровать в порядке приоритетности)
                            div
                                input(class="styler" type="checkbox", name="option-1")
                                | Привлечение клиентов
                            div
                                input(class="styler" type="checkbox", name="option-2")
                                | Привлечение партнеров
                            div
                                input(class="styler" type="checkbox", name="option-3")
                                | Выход на новые рынки
                            div
                                input(class="styler" type="checkbox", name="option-4")
                                | Имиджевая цель
                            div
                                input(class="styler" type="checkbox", name="option-5")
                                | Улучшение коммуникаций (информационная поддержка)
                            div
                                input(class="styler" type="checkbox", name="option-6", checked)
                                | Ознакомление потенциальных клиентов с продукцией
                            div
                                input(class="styler" type="checkbox", name="option-7")
                                | Сбор маркетинговой информации, проведение опросов
                            div
                                input(class="styler" type="checkbox", name="option-8")
                                | Обратная связь с потребителями
                            div
                                input(class="styler" type="checkbox", name="option-9")
                                | Создание источника актуальной информации для клиентов
                            div
                                input(class="styler" type="checkbox", name="option-10")
                                | Другое
                                input(class="styler" type="text" name="else")

                        .row
                            label Тип сайта
                            div
                                input(class="styler" type="radio")
                                | Корпоративный. (Информационный сайт представляющий организацию,
                                | продукцию и услуги)
                            div
                                input(class="styler" type="radio")
                                | Имиджевый. (Промо, рекламно-информационный сайт представляющий
                                | организацию, продукт и услугу)
                            div
                                input(class="styler" type="radio")
                                | Интернет-магазин. (Возможность ознакомиться с ассортиментом продукции
                                | и приобрести товар в сети)
                            div
                                input(class="styler" type="radio" checked)
                                | Сайт-визитка. (Представительство в сети, с базовой информацией о бизнесе)
                        .row
                            label Комментарий
                            div
                                textarea(class="styler" name="comment-1")
                        .row
                            label
                            | Сайт является частью новой концепции продвижения организации (брэнда, товаров/услуг)
                            | или создается в рамках уже существующей стратегии продвижения?
                            div
                                textarea(class="styler" name="comment-2")
                        .row
                            label
                            | Слоганы рекламных компаний организации (брэнда, товаров/услуг),если
                            | их необходимо использовать
                            div
                                textarea(class="styler" name="comment-3")
                        .row
                            label
                            | Общее впечатление о компании, продукции/услугах которое должносоздаваться у целевой
                            | аудитории от посещения сайта? (возможные ассоциативные связи – надежно,
                            | удобно, профессионально, выгодно и т.д.)
                            div
                                textarea(class="styler" name="comment-4")
                        .row
                            label
                            | Планируется ли сопровождать начало работы сайта рекламной кампанией в интернет?
                            div
                                textarea(class="styler" name="comment-5")
                        .row
                            label
                            | Что является наиболее приоритетным в разработке сайта для вас
                            div
                                textarea(class="styler" name="comment-6")
                    fieldset
                        legend Дизайн
                        .row.design
                            label Дизайн
                            div
                                input(class="styler" type="checkbox", name="option-1")
                                | Существующего фирменного стиля организации
                            div
                                input(class="styler" type="checkbox", name="option-2")
                                | Стиля основной торговой марки (бренда)
                            div
                                input(class="styler" type="checkbox", name="option-3")
                                | Определяющим является воздействие на целевую аудиторию
                            div
                                input(class="styler" type="checkbox", name="option-4")
                                | Комментарий
                            div
                                input(class="styler" type="text" name="comment")
                        .row.company-style
                            label Фирменный стиль компании
                            div
                                input(class="styler" type="checkbox", name="colors")
                                | Цвета
                            div
                                input(class="styler" type="checkbox", name="logo")
                                | Логотип
                            div
                                input(class="styler" type="checkbox", name="brends")
                                | Торговые марки (знаки)
                            div
                                input(class="styler" type="checkbox", name="fonts")
                                | Шрифты
                            div
                                input(class="styler" type="checkbox", name="more")
                                | Дополнительно
                        .row.info-style
                            label Стилистика, подача информации
                            div
                                input(class="styler" type="checkbox", name="option-1")
                                | Обязательно серьезный, деловой стиль сайта и подачи информации
                            div
                                input(class="styler" type="checkbox", name="option-2")
                                | Возможно использование эффектной подачи информации
                            div
                                input(class="styler" type="checkbox", name="option-3")
                                | Возможен частично развлекательный вариант для некоторых разделов
                            div
                                input(class="styler" type="checkbox", name="option-4")
                                | Комментарий
                            div
                                input(class="styler" type="text" name="comment")
                        .row.preferance
                            label Предпочтения
                            div
                                input(class="styler" type="checkbox", name="option-1")
                                | Уделить внимание формированию положительного имиджа
                            div
                                input(class="styler" type="checkbox", name="option-2")
                                | Предоставлению большого количества информации
                            div
                                input(class="styler" type="checkbox", name="option-3")
                                | Функциональности и сервисам сайта для посетителей
                            div
                                input(class="styler" type="checkbox", name="option-4")
                                | Комментарий
                            div
                                input(class="styler" type="text" name="comment")
                        .row.color-scheme
                            label Цветовое решение
                            div
                                input(class="styler" type="checkbox", name="option-1")
                                | Приглушенные, спокойные тона
                            div
                                input(class="styler" type="checkbox", name="option-2")
                                | Эффектные броские, яркие краски
                            div
                                input(class="styler" type="checkbox", name="option-4")
                                | Комментарий
                            div
                                input(class="styler" type="text" name="comment")
                        .row
                            label
                            | Сайты, которые нравятся заказчику
                            div
                                textarea(class="styler" name="comment-7")
                        .row
                            label
                            | Сайты которые не нравятся
                            div
                                textarea(class="styler" name="comment-8")
                        .row.pages-quantity
                            label Предполагаемый объем информации на сайте, примерно страниц
                            div
                                input(class="styler" type="radio")
                                | Небольшой (от 5 до 15)
                            div
                                input(class="styler" type="radio")
                                | Средний (от 15 до 40)
                            div
                                input(class="styler" type="radio")
                                | Большой (от 40 и более)
                        .row
                            label
                            | Комментарий
                            div
                                textarea(class="styler" name="comment-9")
                    fieldset
                        legend Функциональность сайта
                        .row.functions-needed
                            label Каков, по вашему мнению, необходимый функционал
                            div
                                input(class="styler" type="radio")
                                | Публикация новостей
                            div
                                input(class="styler" type="radio")
                                | Публикация тематических статей
                            div
                                input(class="styler" type="radio")
                                | Подписка/рассылка новостей
                            div
                                input(class="styler" type="radio")
                                | Каталога товаров/услуг
                            div
                                input(class="styler" type="radio")
                                | Выбор товаров из каталога (корзина)
                            div
                                input(class="styler" type="radio")
                                | Онлайн оплата (интернет-магазин)
                            div
                                input(class="styler" type="radio")
                                | Поиск по сайту/каталогу
                            div
                                input(class="styler" type="radio")
                                | Публиковать объявления о вакансиях
                            div
                                input(class="styler" type="radio")
                                | Организация голосований и опросов
                        .row.more
                            label Дополнительно:
                            div
                                input(class="styler" type="radio")
                                | Размещение файлов для скачивания
                            div
                                input(class="styler" type="radio")
                                | Рубрика вопрос-ответ
                            div
                                input(class="styler" type="radio")
                                | Организация доски объявлений
                            div
                                input(class="styler" type="radio")
                                | Ведение форума
                            div
                                input(class="styler" type="radio")
                                | Баннеры, внимание на товары и услуги
                            div
                                input(class="styler" type="radio")
                                | Регистрация посетителей для допуска к закрытым разделам сайта
                            div
                                input(class="styler" type="radio")
                                | Форма заказа/заявки на товары/услуги
                        .row
                            label
                            | Комментарий
                            div
                                textarea(class="styler" name="comment-10")
                        .row
                            label
                            | Какие основные разделы будут размещены на сайте?
                            div
                                textarea(class="styler" name="comment-11")
                        .row
                            label
                            | Планируемая регулярность обновления сайта
                            div
                                textarea(class="styler" name="comment-12")
                        .row
                            label
                            | Дополнения, замечания, пожелания, требования к сайту
                            div
                                textarea(class="styler" name="comment-13")
                        .note
                            span *
                            |  - поля обязательные для заполнения

                    fieldset(class="center")
                        input(class="styler" type="submit" value="Отправить")
                    fieldset
                        legend Остались вопросы?
                        include ../../_modules/_contact-form

            include ../../_modules/_brief-aside
