//- Document: index.jade

extends ../../_layouts/_main-layout


block page-title
    | Index


block main-page
    .main-page
        .logo
        .intro проектирование, дизайн и разработка
            div сложных интернет проектов

        include ../../_modules/_menu
