//- Document: page.jade

extends ../../_layouts/_main-layout


block page-title
    | Index



append stylesheets
    link(rel="stylesheet" href="../../../css/styles.css")
    //link(rel="stylesheet" href="../../../css/test.css")

block main-page
    .main-page
        .logo
        .intro проектирование, дизайн и разработка
            div сложных интернет проектов
        .btn-menu меню
        .opened-menu
            .close-menu закрыть
            ul
                li
                    a.works работы
                li
                    a.about-us о нас
                li
                    a.processes процессы
                li
                    a.blog блог
                li
                    a.contact-info контакты
            a.post-an-order оставить заявку
            .social
                a.facebook
                a.google-plus
            .cell
