//- Document: our_works.jade

extends ../../_layouts/_main-layout

block page-title
    | Our_works

block main-page
    .our_works
        include ../../_modules/_header

        .title
            .page-title Наши работы

            +navmenu([
                {"title" : "Дизайн", "href" : "#"},
                {"title" : "Айдентика", "href" : "#"},
                {"title" : "Мобильные приложения", "href" : "#"},
                {"title" : "Веб разработка", "href" : "#"}
            ])

