/*
.a {
    @include absolute();
}

.b {
    @include absolute(top);
}

.c {
    @include absolute(top right);
}

.d {
    @include absolute(top right bottom);
}

.e {
    @include absolute(top right bottom left);
}

.f {
    @include absolute(top right 1em);
}

.g {
    @include absolute(top 1em right);
}

.h {
    @include absolute(top 1em right 100%);
}

.i {
    @include absolute(top right mistake);
}

.j {
    @include absolute(top 1em right 1em bottom 1em left 1em)
}
*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../fonts/roboto/Roboto-Regular/Roboto-Regular.eot");
  src: url("../../fonts/roboto/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular/Roboto-Regular.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../../fonts/roboto/Roboto-Light/Roboto-Light.eot");
  src: url("../../fonts/roboto/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Light/Roboto-Light.woff") format("woff"), url("../../fonts/roboto/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Light/Roboto-Light.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../fonts/roboto/Roboto-Bold/Roboto-Bold.eot");
  src: url("../../fonts/roboto/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold/Roboto-Bold.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
/* line 19, ../sass/styles.scss */
.main-page {
  width: 1600px;
  height: 100vh;
  margin: 0 auto;
  background: #fff url("../images/main-page-bg.png") no-repeat 0 0;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 29, ../sass/styles.scss */
.logo-name-slogan {
  width: 254px;
  height: 370px;
  margin: 0 auto;
  background-color: #b7dbff;
}
