.blog-aside
    form
        input(class="styler" type="submit" value="Поиск")
        input(class="styler" type="search" placeholder="Поиск по сайту")
    .latest-articles-list
        .articles-list-name Свежие новости
        .article-items-list
            a.article-item Job Stories для проектирования интерфейсов
            a.article-item Прелести интерфейса на частично перекрывающихся слоях
            a.article-item Семишаговый тест логотипа Пола Рэнда
            a.article-item HL7 FHIR: Fast Healthcare Interoperability Resources
            a.article-item
                | Свой шаблон отклика-письма на HeadHunter
                | (и moikrug) без Copy-Paste
            a.article-item
                | Дайджест продуктового дизайна, май 2015
    include ../_modules/_social