.aside
    .aside-header
        | Заполнив бриф вы получите
    div
        | Звонок менеджера
    div
        | Оценку стоимости проекта
    div
        | Встречу с менеджером проекта,
        | если необходимо
    div
        | Полученная информация
        | конфиденциальна и не подлежит
        | разглашению третьим лицам.