.aside
    .aside-header
        | Заполнив бриф вы получите
    .aside-body
        .managers-call
            | Звонок менеджера
        .project-cost
            | Оценку стоимости проекта
        .meeting-with-pm
            | Встречу с менеджером проекта,
            | если необходимо
        .confidence
            | Полученная информация
            | конфиденциальна и не подлежит
            | разглашению третьим лицам.