.card-small
    .rubric Веб-разработка, Веб-дизайн
    .article-name
        | Дайджест интересных материалов из мира
        | веб-разработки и IT
    .article-description
        .line
        .short-description
            | Предлагаем вашему вниманию подборку с
            | ссылками на полезные ресурсы, интересные
            | материалы и IT-новости...
        a.more(href="#") Подробнее
    .card-footer
        .time-posted 5 часов назад
        .like-message
            a.likes(href="#")
            a.messages(href="#")