.comment-form
    form
        .row
            div
                input(class="styler" type="text" name="name" placeholder="Имя")
            div
                input(class="styler" type="text" name="email" placeholder="Email")
            div
                textarea(class="styler" name="comments" placeholder="Комментарий")
            div
                input(class="styler" type="submit" value="отправить")