.contact-form
    form
        .row
            div
                input(class="styler" type="text" name="name" placeholder="Имя")
            div
                input(class="styler" type="text" name="email" placeholder="Email")
            div
                textarea(class="styler" name="comments" placeholder="Сообщение")
            div
                input(class="styler" type="submit" value="написать")

    .office-contact-info
        .office-location г.Киев ул.Ларисы Руденко 6а
        .office-cell +38 (097) 807 02 02
        .office-email
        include ../_modules/_social
