//- Document: _menu-layout.jade

.btn-menu меню
    #my.opened-menu
        .close-menu
            a(href="#") закрыть
        ul
            li
                a(href="#").works работы
            li
                a(href="#").about-us о нас
            li
                a(href="#").processes процессы
            li
                a(href="#").blog блог
            li
                a(href="#").contact-info контакты
        a(href="#").post-an-order оставить заявку
        .social-cell
            .social
                a(href="#").facebook
                a(href="#").google-plus
            .cell +38(044)556 95 91



