.menu
    .btn-menu меню
    .opened-menu
        .close-menu
            a(href="#") закрыть
        ul
            li
                a(href="our-works.html").works работы
            li
                a(href="about-us.html").about-us о нас
            li
                a(href="#").processes процессы
            li
                a(href="blog.html").blog блог
            li
                a(href="contacts.html").contact-info контакты
        a(href="#").post-an-order оставить заявку
        .social-cell
            include ../_modules/_social
            .cell +38(044)556 95 91



