.short-article-item
    img(src="../../../images/short-article-icon_166x140.jpg")
    .rubric Веб-разработка, Веб-дизайн
    .article-name
        | Дайджест интересных материалов из мира
        | веб-разработки и IT