// Document: _themes.scss

$body-bg: #fff;


// Temporary colors:
$color-coral: lighten(#ff9876, 10%);
$color-yellow: lighten(#fff0b0, 5%);
$color-blue: lighten(dodgerblue, 30%);
$color-green: lighten(forestgreen, 50%);